package ${packageName}.pojo.dto;

import ${packageName}.common.BaseResp;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
* Response DTO for [${domain}] update
*
* @author CODE-GENERATOR
* @since ${now}
*/
@Data
@EqualsAndHashCode(callSuper = true)
public class ${domainWithUppercase}F03RespM01 extends BaseResp {
}