<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${domainWithUppercase}">

    <update id="${domain}F03" parameterType="${packageName}.sql.dto.${domainWithUppercase}F03InputM01">
        UPDATE ${table}
        <set>
            <trim suffixOverrides=",">
                #foreach(${column} in ${columnFieldMap.keySet()})
                <if test="${columnFieldMap.get(${column})} != null">
                    ${column} = #{${columnFieldMap.get(${column})}},
                </if>
                #end
            </trim>
        </set>
        WHERE id = #{id}
    </update>

</mapper>